
html,
body,
#root{
  height: 100%;
  width: 100%;
  background: url('./bg.jpg');
  font-size:1.5em;
}

.my-modal {
  border-radius: 20px;
  background: rgba(200,200,200,0.5);
  position: fixed;
  width: 75%;
  height: 75%;
  left:50%;
  box-shadow: -5px 10px 20px 0px rgba(0,0,0,0.75);
  top:50%;
  transform: translate(-50%,-50%);
}

.my-modal_content-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-modal_cross{
  position: absolute;
  top:0;
  right:0;
  transition: all .5s ease;
  transform: translate(-10px,5px);
  cursor: pointer;
  border-radius: 10px;
}
.my-modal_cross:hover{
  color:#F00;
}